@model MVCNotesSaver.Models.User.RegisterViewModel;
@{
    ViewData["Title"] = "Login";
}

<h2>Register the site</h2>

@Html.ValidationSummary()

<form method="post" asp-action="Register">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" asp-for="Email">
            <span class="valid-tooltip" asp-validation-for="Email"></span>
            <span class="valid-tooltip">@ViewBag.EmailIsTakenMessage</span>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" asp-for="Name">
            <span class="valid-tooltip" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" asp-for="Password">
            <span class="valid-tooltip" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword">
            <span class="valid-tooltip" asp-validation-for="ConfirmPassword"></span>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="display-2" asp-controller="Account" asp-action="Login">
            <h2>I want to login</h2>
        </a>

</form>
