@model MVCNotesSaver.Models.User.LoginViewModel;
@{
    ViewData["Title"] = "SignIn";
}

<h2 class="text-center">Sign in</h2>
<div class="d-flex justify-content-center">
    <form asp-antiforgery="true" method="post" asp-action="SignIn">
        <div asp-validation-summary="ModelOnly"></div>
        @if (Model?.UserDoesntExist == true)
        {
            <div class="text-danger">User doesn't exitst.</div>
        }
        <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <a class="text-black text-center" asp-controller="Account" asp-action="SignUp"><div>I want to sign up</div></a>
        <div class="text-center">
            <button class="btn btn-black btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>


@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}