@model MVCNotesSaver.Models.User.NoteViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <span class="text-danger" asp-validation-for="Text"></span>
    <div style="margin-bottom: 20px" class="row">
        <input type="text" class="col-11 form-text bg-dark text-light" name="noteText"/>
        <input type="submit" class="btn btn-dark col-1 text-light" value="Send"/>
    </div>
</form>

<table class="col-12 table table-striped table-dark table-hover table-bordered">
    <thead>
    <tr>
        <th style="width: 7%" scope="col" id="notesId">Id</th>
        <th style="width: 30%" scope="col" id="notesCreationTime">Time of creation</th>
        <th style="width: 63%" scope="col" id="notesText">Text</th>
    </tr>
    </thead>
    <tbody id="notesBody">
    </tbody>
</table>

@section Scripts
{
    <script>
            $(function (){
                console.log("EE");
                $.ajax({
                    url: "@Url.Action("GetNotes", "Notes")",
                    method: "GET",
                    data: {},
                    success: function(response) {
                        console.log(response);
                        $('#notesBody').children().remove();
                        $.each(response, function(i, item) {
                            let result = $('<tr>').append(
                                $('<td>').text(i),
                                $('<td>').text(item.created),
                                $('<td>').text(item.text),
                                );
                            $('#notesBody').append(result);
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                    
                });
            });
    </script>

}